.DS_Store

system
license.txt

application/db/*
!application/db/index.html

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
